<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @option.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @option.name %>
</p>

<p>
  <strong>Image uid:</strong>
  <%= @option.image_uid %>
</p>

<p>
  <strong>Sound uid:</strong>
  <%= @option.sound_uid %>
</p>

<%= link_to 'Edit', edit_option_path(@option) %> |
<%= link_to 'Back', options_path %>
